.header1 {
  grid-area: header1;
  background-color: rgba(255, 182, 193, 1); /* rosa claro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 768px) {
  .header1 {
    flex-direction: column;
  }
}

.title {
  display: flex;
  font-weight: bolder;
  font-size: 5rem;
  color: rgb(255, 105, 180); /* rosa vibrante */
  text-align: center;
  margin-left: 40px;
}

@media (max-width: 768px) {
  .title {
    font-size: 5rem;
  }
}

.header1 svg {
  width: 6rem;
  height: 6rem;
  font-size: 6rem;
  object-fit: cover;
  border-radius: 1rem;
  color: rgb(255, 105, 180); /* rosa vibrante */
}

@media (max-width: 768px) {
  .header1 svg {
    width: 12rem;
    height: 12rem;
    font-size: 12rem;
    display: flex;
  }
}

.cart {
  flex-direction: row;  
  display: flex;
  font-weight: bolder;
  font-size: 3rem;
  color: rgb(255, 105, 180); /* rosa vibrante */
  padding: 1rem;
}

.cart button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(255, 105, 180); /* rosa vibrante */
  font-size: 3rem;
}

.cart p {
  display: inline-block;
  background-color: rgb(255, 228, 232); /* rosa bem claro */
  border: 1px solid rgb(255, 105, 180);
  margin: 0.5rem;
  padding: 5px;
  border-radius: 1rem;
  color: rgb(255, 105, 180);
  font-size: 1.5rem;
  height: 35px;
}
